extends layout

block content
  h1= title
    
  p
    table
      thead
        tr
          th To-Do
          th Difficulty Level
      tbody
        for value in response  
          tr
            td= value.name 
            td.center= value.estimate
            
  div.center
    form(action="/" method="post")
      label.bold(for="new") Add A New Story
      p
      input.length(type="text" id="new" name="new")
      p
      input.button(type="submit" value="Add Story")
